---
import Layout from '../../layouts/Layout.astro';
import Helloty from './example/example.typ?svg';
---
<Layout>
    <div class="transform scale-[0.52] origin-top-left">
        <Helloty />
    </div>
</Layout>