@import "tailwindcss";
@import "@fontsource-variable/noto-serif-sc";

@theme {
  --font-mono: "Noto Serif SC", serif;
  --font-sans: "Noto Serif SC", serif; 
  --font-serif: "Noto Serif SC", serif;
}

::selection {
  background-color: #0d9488; /* border-teal-600 对应的颜色值 */
  color: white;
}

/* Firefox 浏览器兼容性 */
::-moz-selection {
  background-color: #0d9488;
  color: white;
}