---
// src/pages/comments.astro
import Giscus from '../components/Giscus.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Comment">
  <h1 slot="heading" class="text-4xl font-bold mb-4">评论区</h1>
  <p class="mb-6">欢迎在本页面下方留下你的评论和反馈。</p>
  <Giscus />
</Layout>