---
import '../styles/global.css'
import '@fontsource-variable/noto-serif-sc';
import notoserifscWoff2 from '@fontsource-variable/noto-serif-sc/files/noto-serif-sc-latin-wght-normal.woff2?url';
import { ClientRouter } from "astro:transitions";
import { slide } from 'astro:transitions';
import Footer from '../components/Footer.astro';
const { title, frontmatter } = Astro.props;

const navSlide = slide({
  duration: 300,
  easing: 'ease-out'
});
---    

<!doctype html>
<html lang="zh-cn">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
		<!-- 预加载字体 -->
		<link rel="preload" as="font" type="font/woff2" href={notoserifscWoff2} crossorigin="anonymous" />
		
		<ClientRouter />
	</head>
	<body class="m-0 bg-[#fafaf0] font-sans font-normal">
		<nav class="px-4 py-6 max-w-3xl mx-auto border-b border-teal-600 relative z-10 flex justify-between items-center">
			<span class="font-mono text-xl font-extrabold text-gray-800">
				Ryuhana's blog
			</span>
			
			<div class="flex space-x-4">
				<a href="/" class="no-underline font-sans text-gray-800 hover:text-teal-600 transition-colors duration-200">Home</a>
				<a href="/about/" class="no-underline font-sans text-gray-800 hover:text-teal-600 transition-colors duration-200">About</a>
				<a href="/blog/" class="no-underline font-sans text-gray-800 hover:text-teal-600 transition-colors duration-200">Blog</a>
				<a href="/comments" class="no-underline font-sans text-gray-800 hover:text-teal-600 transition-colors duration-200">Comment</a>
			</div>
		</nav>
		

		<main class="px-2 max-w-3xl mx-auto font-mono">
			<slot name="heading" />
			<slot />
		</main>
	</body>
</html>
