<!doctype html>
<html lang="zh-cn">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title><slot name="title" /></title>
		<style>
			@font-face {
				font-family: 'Consola';
				src: url('/fonts/consola-1.ttf') format('truetype');
			}

			body {
				margin: 0;
				background-color: #fafaf0;
				font-family: 'Consola', sans-serif;
			}
			nav {
				padding: 1.5rem 1rem;
				max-width: 800px;
				margin: 0 auto;
				text-align: right;
				border-bottom: 1px solid rgb(0, 128, 128);
			}
			nav a {
				margin-right: 1rem;
				text-decoration: none;
				font-weight: bold;
				color: #333;
			}

			main {
				padding: 2rem;
				max-width: 800px;
				margin: 0 auto;
			}
		</style>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about/">About</a>
			<a href="/blog/">Blog</a>
			<a href="/comments">Comment</a>
		</nav>
		<main>
			<slot />
		</main>
	</body>
</html>
